.headerContainer {
    width: 90%;
    display: flex;
    flex-direction: row;
}

.titleContainer {
    background-color: #3683ff;
    padding: 10px 0 10px 0;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px 10px;
}